<div *ngIf="apiLoaded | async" class="map-container">
    <div *ngIf="selectedLocation" class="side-panel">
        <app-side-panel [location]="selectedLocation"></app-side-panel>
    </div>

    <google-map [options]="options" width="100%" height="100%">
        <map-marker
            *ngFor="let location of locations; let markerIndex = index"
            [position]="location.coordinates"
            (mapClick)="onMarkerClick(markerIndex, location)"
        >
        </map-marker>
        <map-info-window (closeclick)="onMapInfoClosed()">{{ mapInfoContent }}</map-info-window>
    </google-map>
</div>
